[submodule "simple-agent/xrx-core"]
	path = simple-agent/xrx-core
	url = https://github.com/8090-inc/xrx-core.git
	branch = feature/refactor
[submodule "patient-information-agent/xrx-core"]
	path = patient-information-agent/xrx-core
	url = https://github.com/8090-inc/xrx-core.git
	branch = feature/refactor
[submodule "wolfram-assistant-agent/xrx-core"]
	path = wolfram-assistant-agent/xrx-core
	url = https://github.com/8090-inc/xrx-core.git
	branch = feature/refactor
[submodule "shopify-agent/xrx-core"]
	path = shopify-agent/xrx-core
	url = https://github.com/8090-inc/xrx-core.git
	branch = feature/refactor
