[submodule "patient-information-app/xrx-core"]
	path = patient-information-app/xrx-core
	url = https://github.com/8090-inc/xrx-core.git
[submodule "shopify-app/xrx-core"]
	path = shopify-app/xrx-core
	url = https://github.com/8090-inc/xrx-core.git
[submodule "simple-app/xrx-core"]
	path = simple-app/xrx-core
	url = https://github.com/8090-inc/xrx-core.git
[submodule "wolfram-assistant-app/xrx-core"]
	path = wolfram-assistant-app/xrx-core
	url = https://github.com/8090-inc/xrx-core.git
[submodule "pizza-store/xrx-core"]
	path = pizza-store/xrx-core
	url = https://github.com/8090-inc/xrx-core.git
